.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* ============================== Fonts ======================== */
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@600&display=swap");

.page-content {
  min-height: 100vh;
  display: flex;
  align-items: center;
  background-image: url("https://www.kibrispdr.org/data/paper-background-hd-7.jpg");
}
.page-2-content {
  min-height: 100vh;
  width: 60%;
  padding-top: 5rem;
  margin: auto;
}
.create-btn {
  display: flex;
  align-items: center;
}
.create-btn Button {
  background-color: #f77d03 !important;
}
.title {
  margin: 0 0 30px 10px;
  font-weight: bold;
}
.containerB-2 {
  font-family: "Source Sans Pro", sans-serif;
  margin-top: 20px;
  padding: 10px;
  color: #343a40;
  font-size: 14px;
}
.containerB-2:hover {
  background-color: #cecece;
}
.icon-edit-delete {
  color: whitesmoke;
  margin-left: 15px;
  margin-right: 15px;
}
.containerB-2:hover .icon-edit-delete {
  color: #606060;
  cursor: pointer;
}
.img-avatar {
  border-radius: 50%;
  margin-right: 20px;
}
.avatar-img {
  font-size: 20px;
  font-weight: bold;
  height: 48px;
  width: 48px;
  border-radius: 50%;
  background-color: #90b5d8;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.containerB {
  margin-top: 10px;
}
.containerB-1 {
  font-family: "Source Sans Pro", sans-serif;
  color: #66696e;
  background-color: #f2f2f2;
  padding-left: 10px;
}
.image-detail {
  border-radius: 20px;
}
.listgroup-2 {
  font-size: 12px;
}
.modal-add {
  margin-top: 10px;
  margin-bottom: 10px;
}
.table-age {
  font-weight: bold;
  text-align: center;
}
.table-action {
  text-align: right;
}
.card-style {
  border-radius: 20px !important;
  padding: 10px;
  box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034), 0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06), 0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12) !important;
  background-color: whitesmoke !important;
}
.card-color {
  background-color: whitesmoke !important;
}
/* ===================================== */

@media only screen and (max-width: 1400px) {
  .page-2-content {
    width: 100%;
    margin: 0 1rem;
  }
}
